@model PostDetailViewModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        margin-top: 20px;
        background-color: #e9ebee;
    }

    .be-comment-block {
        margin-bottom: 50px !important;
        border: 1px solid #edeff2;
        border-radius: 2px;
        padding: 50px 70px;
        border: 1px solid #ffffff;
    }

    .comments-title {
        font-size: 16px;
        color: #262626;
        margin-bottom: 15px;
        font-family: 'Conv_helveticaneuecyr-bold';
    }

    .be-img-comment {
        width: 60px;
        height: 60px;
        float: left;
        margin-bottom: 15px;
    }

    .be-ava-comment {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .be-comment-content {
        margin-left: 80px;
    }

        .be-comment-content span {
            display: inline-block;
            width: 49%;
            margin-bottom: 15px;
        }

    .be-comment-name {
        font-size: 13px;
        font-family: 'Conv_helveticaneuecyr-bold';
    }

    .be-comment-content a {
        color: #383b43;
    }

    .be-comment-content span {
        display: inline-block;
        width: 49%;
        margin-bottom: 15px;
    }

    .be-comment-time {
        text-align: right;
    }

    .be-comment-time {
        font-size: 11px;
        color: #b4b7c1;
    }

    .be-comment-text {
        font-size: 13px;
        line-height: 18px;
        color: #7a8192;
        display: block;
        background: #f6f6f7;
        border: 1px solid #edeff2;
        padding: 15px 20px 20px 20px;
    }

    .form-group.fl_icon .icon {
        position: absolute;
        top: 1px;
        left: 16px;
        width: 48px;
        height: 48px;
        background: #f6f6f7;
        color: #b5b8c2;
        text-align: center;
        line-height: 50px;
        -webkit-border-top-left-radius: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-bottomleft: 2px;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }

    .form-group .form-input {
        font-size: 13px;
        line-height: 50px;
        font-weight: 400;
        color: #b4b7c1;
        width: 100%;
        height: 50px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid #edeff2;
        border-radius: 3px;
    }

    .form-group.fl_icon .form-input {
        padding-left: 70px;
    }

    .form-group textarea.form-input {
        height: 150px;
    }
</style>




<br />

<div class="col-md-12 blog-main">


    <div class="blog-post">
       

            <h2 class="blog-post-title"> @Model.PostDetailDto.Header</h2>
          
       
        <p class="blog-post-meta"> @Model.PostDetailDto.Date.ToString("D") by <a href="#">@Model.PostDetailDto.UserName</a></p>
    <div class="row">
        <p class=" col-md-10">@Model.PostDetailDto.Description</p>
        <div class="col-md-2">

            <a href="/Post/Edit/@Model.PostDetailDto.Id"> <button type="button" class="btn btn-light">Edit</button></a>
            <a href="/Post/Delete/@Model.PostDetailDto.Id"> <button type="button" class="btn btn-light">Delete</button></a>

        </div>
    </div>
        <hr>
        <img src="@Model.PostDetailDto.ImageUrl" class="img-fluid" alt="Responsive image">
        <hr/>
        <p>@Model.PostDetailDto.Text</p>

    </div>


  


</div>


@*<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">*@
<div class="container">
    <div class="be-comment-block">
        <h1 class="comments-title">Comments (3)</h1>


        <div class="be-comment">




            @await Component.InvokeAsync("CommentList", new { postId = Model.PostDetailDto.Id })


        </div>
        <div class="form-block">

            @using (Html.BeginForm("Detail", "Post", new { postId = Model.PostDetailDto.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()



                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

           

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            @Html.EditorFor(model => model.Comment.UserName, new { htmlAttributes = new { @class = "form-input", placeholder = "İsminiz " } })
                            @Html.ValidationMessageFor(model => model.Comment.UserName, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 fl_icon">
                        <div class="form-group fl_icon">
                            <div class="icon"><i class="fa fa-envelope-o"></i></div>
                            @Html.EditorFor(model => model.Comment.Email, new { htmlAttributes = new { @class = "form-input", placeholder = "Email " } })
                            @Html.ValidationMessageFor(model => model.Comment.Email, "", new { @class = "text-danger" })

                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.EditorFor(model => model.Comment.Text, new { htmlAttributes = new { @class = "form-input col-md-12", placeholder = "Yorumunuzu buraya giriniz... ", type = "text-aria" } })
                            @Html.ValidationMessageFor(model => model.Comment.Text, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    @{
                        Model.Comment.PostId = Model.PostDetailDto.Id;
                    }




                    <input type="hidden" name="auctionEventId" value="@Model.PostDetailDto.Id" />

                    <input type="submit" value="Ekle" class="btn btn-outline-dark btn-block" />

                </div>




            }

        </div>
    </div>
</div>

